<div class="chat">
    <div id="chatWindow" data-project-id="{{project.id}}">

    </div>
    <form id="messageForm">
        <input type="text" id="messageInput" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</div>