
<aside
  class="d-flex flex-column flex-shrink-0 text-white bg-dark"
  style="width: 300px"
>

  <a class="navbar-brand ml-5 mb-2" href="#Home"><img
      src="/images/Logo.png"
      width="200"
      alt="Logo"
    /></a>

{{!-- PROJECT TO BE CLICKABLE AND DIRECT TO INDIVIDUAL PROJECT --}}
{{!-- ADD CHAT TO SIDEBAR NAV THAT IS ALSO COLLAPSIBLE --}}

  <h4 class="text-center text-white">Welcome,</h3>

  <p class="text-center text-white" id="currentUser"></p>
  


<div class="accordion" id="accordionExample">

  {{!-- Dashboard --}}
  <div class="card bg-dark">
      <div class="card-header bg-dark" id="headingZero">
        <h2 class="mb-0">
          <a href="/dashboard" class="btn btn-secondary btn-bg-* btn-block text-left text-decoration-none collapsed" type="button">
            <i class="fa-solid fa-house-user" style="color: white;"></i> Dashboard
          </a>
        </h2>
      </div>

  {{!-- Project --}}
  <div class="card bg-dark">
    <div class="card-header bg-dark" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-secondary bg-transparent btn-block text-left text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fas fa-project-diagram" style="color: white;"></i> Projects
        </button>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <ul id="projectList">
      <li class="card-body mb-3">
        Some placeholder content for the second accordion panel. This panel is hidden by default.
      </li>
      </ul>
    </div>
  </div>
</div>

  {{!-- User --}}
  <div class="card bg-dark">
    <div class="card-header bg-dark" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-secondary bg-transparent btn-block text-left text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-user" style="color: white" aria-hidden="true"></i> Users
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
    <ul id="userList" class="list-group-flush">
      <li class="card-body">
      </li>
    </ul>
    </div>
  </div>

{{!-- Chat window --}}
<div class="card bg-dark">
    <div class="card-header bg-dark" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-secondary bg-transparent btn-block text-left collapsed text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fas fa-comments" style="color: white;"></i> Chat
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Some placeholder content for the third accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
</div>
</aside>

<script src="/js/usersList.js"></script>
<script src="/js/projectsList.js"></script>
<script src="/js/currentUser.js"></script>
