<aside
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
  style="width: 280px"
>

  <a class="navbar-brand ml-3 mb-2" href="#Home"><img
      src="/images/Logo.png"
      width="200"
      alt="Logo"
    /></a>

  <h4 class="text-center text-white">Welcome,</h3>
  {{! Add in once route has been added }}
  <p class="text-center text-white">Add User First Last here</p>

  <ul class="nav nav-pills flex-column mb-auto">
    {{! <li class="nav-item">
      <a href="#Home" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#home"
          ></use></svg>
        Home
      </a>
    </li> }}
    <li>
      <a href="#Users" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#speedometer2"
          ></use></svg>
        Users
      </a>
    </li>
    <li>
      <a href="#Projects" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#table"
          ></use></svg>
        Projects
      </a>
    </li>
  </ul>

  {{! <div class="container-fluid">
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div> }}

</aside>

{{! <script src="/js/sidebar.js"></script> }}