<aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">


  <a class="navbar-brand ml-3 mb-2" href="#Home"><img
      src="/images/Logo.png"
      width="200"
      alt="Logo"
    /></a>

{{!--SIDEBAR NEEDS COLLAPSIBLE MENUS --}}
{{!-- POPULATE WITH USER AND PROJECT DATA --}}
{{!-- PROJECT TO BE CLICKABLE AND DIRECT TO INDIVIDUAL PROJECT --}}
{{!-- ADD CHAT TO SIDEBAR NAV THAT IS ALSO COLLAPSIBLE --}}

  <h4 class="text-center text-white">Welcome,</h3>
  {{! Add in once route has been added }}
  <p class="text-center text-white">Generate logged in user first and last name</p>

  <ul class="nav nav-pills flex-column mb-auto">
    {{! <li class="nav-item">
      <a href="#Home" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Home
      </a>

    </li> }}
    <li class="dropdown">
      <a href="#Users" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use
            xlink:href="#speedometer2"
          ></use></svg>
        Users
      </a>
      <div class="dropdown-content">
          <a href="#">
            User A</a>
          <a href="/invite">
            User B</a>
        </div>
    </li>
    <li class ="dropdown">
      <a href="#Projects" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table"></use>
        </svg>
        Projects
      </a>
      <div class="dropdown-content">
          <a href="#">
            Project A</a>
          <a href="/invite">
            Project B</a>
        </div>
    </li>
    {{!-- Add as part of collapsible and style --}}
    <li>
      {{> chat}}
    </li>
  </ul>

  {{! <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div> }}
  
  

</aside>