{{!-- UNDER CONSTRUCTION --}}
{{!-- Intending to insert into a modal --}}

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row">
    <div class="col-8">
        <h5 class="card-title">Project Title</h5> 
        <p class="card-text">Contents</p>
    </div>
    <div class="col-4 bg-dark">
        <div class="card-subtitle">
            <h6>ASSIGNEE</h6>
        </div>

       

    </div>
    </div>
  </div>
</div>
<script src="/js/taskcard.js"> 