<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elevate: Enhanced Company Management Software</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/b280342818.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {{! <header><img
        src="/images/Logo.png"
        alt="Elevate logo"
        class="navbar-logo"
      /></header> }}
    {{{body}}}
  </body>

</html>