{{! Will need to add sortable.Js to main.handlebars }}
<body>
  <div class="container-fluid">
    <!-- Sidebar -->
    <div class="sidebar">
        {{> sidebar}}
    </div>

    <!-- Page content -->
    <div class="content">
      {{> navbar }}
        <div class="container">
          <div class="row">
            <div class="col" id="to-do">
              {{!-- Parent Card --}}
              <div class="container">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title"><i class="fa-regular fa-circle-down" style="color: #e45656;"></i> To Do</h5>
                        <p class="card-subtitle text-center">This item hasn't been started</p>
                  </div>
                  <div class="card-body">
                      <!-- Nested Child Card -->
                      {{>task}}
                      {{>task}}
                      {{>task}}
                  </div>
                  <div class="card-footer">
                      <button type="button" class="btn btn-outline-dark btn-block"><i class="fa-regular fa-square-plus" style="color: #000000;"></i> Add Item</button>
                  </div>
                </div>
              </div>                
            </div>

            <div class="col" id="in-progress">
              {{!-- Parent Card --}}
              <div class="container">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title"><i class="fa-solid fa-circle-half-stroke" style="color: #e0cd61;"></i> In Progress</h5>
                        <p class="card-subtitle text-center">This is actively being worked on</p>
                  </div>
                  <div class="card-body">
                      <!-- Nested Child Card -->
                      {{>task}}
                      {{>task}}
                      {{>task}}
                  </div>
                  <div class="card-footer">
                      <button type="button" class="btn btn-outline-dark btn-block"><i class="fa-regular fa-square-plus" style="color: #000000;"></i> Add Item</button>
                  </div>
                </div>
              </div>  
            </div>

            <div class="col" id="complete">
              {{!-- Parent Card --}}
              <div class="container">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title"><i class="fa-regular fa-circle-check" style="color: #6fb854;"></i> Done</h5>
                        <p class="card-subtitle text-center">This has been completed</p>
                  </div>
                  <div class="card-body">
                      <!-- Nested Child Card -->
                      {{>task}}
                      {{>task}}
                      {{>task}}
                  </div>
                  <div class="card-footer">
                      <button type="button" class="btn btn-outline-dark btn-block"><i class="fa-regular fa-square-plus" style="color: #000000;"></i> Add Item</button>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
  </div>
</body>


{{! Will either NPM install sortable or have to use a library }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script src="/js/sortable.js"></script>