<div>
  <button type="button" id="add-btn" class="btn">Add A User</button>
  <form id="invite-form">
    <div id="email-container">
      <input type="hidden" id="join_code" value="{{workspace.join_code}}" />
      <input type="email" class="email" placeholder="Enter email" />
    </div>
    <button type="submit" id="submit-btn">Submit All Invites</button>
  </form>

</div>

<script src="/js/invite.js"></script>