{{! Logging in }}

<!-- NAVBAR-->
<nav>
  <div class="container mt-5" id="nav-welcome">
    <a href="#">
      <!-- Logo Image -->
      <img src="/images/Logo.png" width="200" alt="" class="d-inline-block align-middle mr-2">
    </a>
</nav>

<div class="container" id="login">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-container mt-5">
        <h2 class="text-center mb-4">Login</h2>
        <form id="login-form" class="mt-5">
          <div class="form-group">
            <label for="email-login">Email</label>
            <input
              type="email"
              class="form-control"
              id="email-login"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="password-login">Password</label>
            <input
              type="password"
              class="form-control"
              id="password-login"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-outline-light btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- CONNECT THIS AND AN ERROR --}}
<!-- Result Notification for successful sign up -->
  <div class="container">
  <div class="row justify-content-center">
    <div
      id="resultNotification"
      class="notification hide animate__animated animate__fadeIn text-center"
    >
      <i class="fas fa-check" style="color: #ffffff;"></i>
      Successfully logged in!
    </div>
  </div>
</div>

<script src="/js/login.js"></script>