<div class="project-card">
    {{#each workspaces}}
    <div class="project">
        <h2>{{name}}</h2>
        {{#each projects}}
        <h4>{{name}}</h4>
        {{#each tasks}}
        <h5>Tasks:</h5>
        <h6>{{title}}</h6>
        <p>- {{contents}}</p>
        {{/each}}
        {{/each}}
        <p>=====================================</p>
    </div>
    {{/each}}
</div>