<!-- NAVBAR-->
<nav>
  <div class="container mt-5" id="nav-welcome">
    <a href="#">
      <!-- Logo Image -->
      <img src="/images/Logo.png" width="200" alt="" class="d-inline-block align-middle mr-2">
    </a>
</nav>

<div class="container" id="signup">
  <!-- User details -->
  <div class="row justify-content-center" id="userDetails">
    <div class="col-md-6 mt-5">
      <h2 class="text-center text-white">Tell us about yourself</h2>
      <form id="user-info">
        <div class="form-row mt-5">
          <div class="form-group col-md-6">
            <label for="firstName" class="text-white">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              placeholder="First Name"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="lastName" class="text-white">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Last Name"
              required
            />
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-outline-light btn-block"
          id="userNext"
        >Next</button>
      </form>
    </div>
  </div>

  <!-- Email, password and username -->
  <div class="row justify-content-center hide" id="user-loginDetails">
    <div class="col-md-6 mt-5">
      <div class="join-container">
        <h2 class="text-center text-white mb-4">Login Information</h2>
        <form id="signup-form">
          <div class="form-group">
            <label for="email-signup" class="text-white">Email</label>
            <input
              type="email"
              class="form-control"
              id="email-signup"
              placeholder="Enter email"
              required
            />
          </div>
          <div class="form-group">
            <label for="username-signup" class="text-white">Username</label>
            <input
              type="username"
              class="form-control"
              id="username-signup"
              placeholder="Enter username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password-signup" class="text-white">Password</label>
            <input
              type="password"
              class="form-control"
              id="password-signup"
              placeholder="Must be at least 8 characters"
              required
            />
          </div>
          <div class="form-group">
            <label for="password-confirm" class="text-white">Confirm password</label>
            <input
              type="password"
              class="form-control"
              id="password-confirm"
              placeholder="Re-enter Password"
              required
            />
          </div>
          <button type="submit" class="btn btn-outline-light btn-block">Next</button>
        </form>
      </div>
    </div>
  </div>

  <!-- New workspace -->
  <div class="container hide" id="newWorkspace">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center mt-5 mb-4">
          <h2 class="text-white">What are we doing today?</h2>
        </div>
        <div class="row mt-4">
          <div class="col">
            <button
              type="submit"
              class="btn btn-outline-light btn-block"
              id="createOpt"
            >Create a Workspace</button>
          </div>
          <div class="col">
            <button
              type="submit"
              class="btn btn-outline-light btn-block"
              id="joinOpt"
            >Join a Workspace</button>
          </div>
         </div>
      </div>
    </div>
  </div>

  <!-- Create a workspace -->
  <div class="row justify-content-center hide" id="workplace-create">
    <div class="col-md-6 mt-5">
      <h1 class="text-center text-white mb-4">Welcome to Elevate!</h1>
      <h3 class="text-center text-white mb-4">What would you like to name your workspace?</h3>
      <form id="workspaceForm">
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              id="workspaceName"
              placeholder="Enter name"
              required
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <button
              type="submit"
              class="btn btn-outline-light btn-block"
              id="generate-code"
            >Generate Code</button>
          </div>
        </div>
      </form>
        <div class="alert alert-dark hide text-center" id="code-success" role="alert">
          {{!-- PROPERLY CONNECT TO ROUTE --}}
          Code Successfully Generated: {{workspace.join_code}}
        </div>
          <button
              type="submit"
              class="btn btn-outline-light btn-block hide"
              id="enter-workspace"
            >Enter Workspace</button>
    </div>
  </div>

  

  <!-- Join a workspace -->
  <div class="row justify-content-center hide" id="workplace-join">
    <div class="col-md-6 mt-5">
      <h2 class="text-center text-white mb-4">Welcome to Elevate!</h2>
      <h3 class="text-center text-white mb-4">Please enter the join code for your workspace
        below</h3>
      <form id="joinForm">
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              id="join-code"
              placeholder="Enter your code"
              required
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <button
              type="submit"
              class="btn btn-outline-light btn-block"
              id="join-btn"
            >Join workspace!</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Result Notification for successful sign up -->
  <div class="container">
  <div class="row justify-content-center">
    <div
      id="resultNotification"
      class="notification hide animate__animated animate__fadeIn text-center text-white"
    >
      <i class="fas fa-check" style="color: #ffffff;"></i>
      Successfully signed up!
    </div>
  </div>
</div>

  <!-- Result Notification for a duplicate username or email -->
  <div class="container">
  <div class="row justify-content-center">
    <div
      id="resultIncorrect"
      class="notification hide animate__animated animate__fadeIn text-center text-red"
    >
      <i class="fa-regular fa-circle-xmark" style="color: #c43434;"></i>
      Invalid login credentials
    </div>
  </div>
</div>

  <!-- Result Notification for an unmatched password -->
  <div class="container">
  <div class="row justify-content-center">
    <div
      id="passwordUnmatch"
      class="notification hide animate__animated animate__fadeIn text-center text-red"
    >
      <i class="fa-regular fa-circle-xmark" style="color: #c43434;"></i>
      Passwords must match
    </div>
  </div>
</div>

  <!-- Result Notification for invalid workplace code -->
  <div class="container">
  <div class="row justify-content-center">
    <div
      id="noWorkspace"
      class="notification hide animate__animated animate__fadeIn text-center text-red"
    >
      <i class="fa-regular fa-circle-xmark" style="color: #c43434;"></i>
      Your workspace code is invalid
    </div>
  </div>
</div>

</div>

<script src="/js/signup.js"></script>