{{! Welcome page }}
<header><img
    src='../public/images/Logo.png'
    alt='Elevate logo'
    class='navbar-logo'
  /></header>

<div class='container'>
  <div class='row'>
    <div class='col text-center'>
      <h1>WELCOME TO ELEVATE</h1>
      <h2>Enhanced company management software.</h2>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col'>
      <button type='button' class='btn' id='signupHover'>Creating a workspace?</button>
    </div>
    <div class='col'>
      <button type='button' class='btn' id='loginHover'>Already a member?</button>
    </div>
    <div class='col'>
      <button type='button' class='btn'>Joining a team?</button>
    </div>
  </div>
</div>

{{! Logging in }}

{{! Signing up for a workspace }}

{{! Joining existing workspace as employee }}