/* Colour pallete */
:root {
    --white: #ffffff;
 
}

/* Global styles */
* {   color: #000000;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* Background */
body 
 { 
    background-image: linear-gradient(to right, #f45474, #6a82fb);    
    height: 100vh; 
    margin: 0; 
};


/* Text */
h1 {
    font-size: 3.5rem;
    margin-top: 12rem;
    margin-bottom: 0rem;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#welcome-sub {
   font-size: 1.8rem;
   margin-top: 0.2rem;
   margin-bottom: 1rem;
   font-family: "Wix Madefor Display", sans-serif;
   font-weight: 400;
   font-style: normal;   
};
h5 {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
p {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}

/* Buttons */

/* Logins */
/* Change to JS if we want it fully replaced instead of added to */
#signupHover:hover::after {
    content: " Sign Up";
}

#loginHover:hover::after {
    content: " Login";
}


/* Animation */
.animate {
    transition: transform 1s ease-in-out;
}
  
.hidden {
    transform: translateY(-100%);
}

.show {
    transform: translateY(100%);
}
  
.hide {
    display: none;
}

/* Sidebar link hover styling */
aside .nav-pills .nav-link:hover {
    background-color: purple;
}

/* Custom styles for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: #343a40; 
    padding-top: 20px; 
    color: white
}

/* Style links inside the sidebar */
.sidebar a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    display: block;
}

/* Change color on hover */
.sidebar a:hover {
    background-color: #495057;
}

/* Main content */
.content {
    margin-left: 300px;
    padding: 20px;
};